In [1]:
import pandas as pd

In [2]:
ngram = pd.read_csv('./clean_csv/bigram_working_series.csv')
ngram

       Unnamed: 0                0
0               0  ('픽업 트럭', 2549)
1               1  ('사용 되다', 2005)
2               2  ('자율 주행', 1683)
3               3  ('진행 되다', 1207)
4               4  ('출시 되다', 1196)
...           ...              ...
15120       15120    ('기간 단축', 21)
15121       15121   ('대다 벤틀리', 21)
15122       15122   ('팔리다 이유', 21)
15123       15123    ('모델 명과', 21)
15124       15124    ('상황 고려', 21)

[15125 rows x 2 columns]

In [3]:
ngram100 = ngram['0'].loc[:100]
ngram100

0      ('픽업 트럭', 2549)
1      ('사용 되다', 2005)
2      ('자율 주행', 1683)
3      ('진행 되다', 1207)
4      ('출시 되다', 1196)
            ...
96      ('트럭 시장', 411)
97      ('세계 최초', 406)
98      ('탑재 되다', 406)
99     ('포함 되어다', 405)
100     ('리미 티드', 404)
Name: 0, Length: 101, dtype: object

In [5]:
# nouns # add dict.한다.
ngrams = ['픽업트럭', '인공지능','자율주행','콘티넨탈','트레일블레이저','파워트레인','미국시장','기술개발',\
         '살균소독','리미티트','세계최초','코로나바이러스','메르세데스벤츠','포드익스플로러','자동차유리','트럼프대통령',\
        '자동차시장','트럭시장','리미티드']

In [6]:
ngram100[0]

"('픽업 트럭', 2549)"

In [7]:
revive_ngram100 = []
for string in ngram100:
    revive_ngram100.append(eval(string))

In [8]:
revive_ngram100[0], type(revive_ngram100[0])

(('픽업 트럭', 2549), tuple)

# twitter experiment

In [9]:
from ckonlpy.tag import Twitter
twitter = Twitter()

twitter.pos("아이오아이좋아요")

/home/lab14/.conda/envs/moon/lib/python3.6/site-packages/konlpy/tag/_okt.py:16: UserWarning: "Twitter" has changed to "Okt" since KoNLPy v0.4.5.
  warn('"Twitter" has changed to "Okt" since KoNLPy v0.4.5.')

[('아이오', 'Noun'), ('아이', 'Noun'), ('좋아요', 'Adjective')]

In [11]:
twitter.add_dictionary("아이오아이", "Noun")

In [12]:
twitter.pos("아이오아이,트와이스의tt좋아요")

[('아이오아이', 'Noun'),
 (',', 'Punctuation'),
 ('트와이스', 'Noun'),
 ('의', 'Josa'),
 ('tt', 'Alpha'),
 ('좋아요', 'Adjective')]

In [13]:
twitter.add_dictionary(['트와이스', 'tt'], 'Noun')

In [14]:
twitter.pos("아이오아이,트와이스의tt좋아요")

[('아이오아이', 'Noun'),
 (',', 'Punctuation'),
 ('트와이스', 'Noun'),
 ('의', 'Josa'),
 ('tt', 'Noun'),
 ('좋아요', 'Adjective')]

In [15]:
twitter.pos('nanWINBO 는 1994년 설립되어졌으며 자동차 악세서리를 생산하는 세계 최대의 회사 중 하나이며 특히 SUV 그리고 픽업트럭에 많은 특허와 경험을 가지고 있습니다 전세계에 3000명 이상의 직원이 근무하고 TOYOTA HONDA NISSAN GM FORD JEEP VOLKSWAGEN 등 많은 자동차 제조회사에 OEM 제품을 공급하고 있습니다 윈보오토모티브코리아주는 세계 최대 SUV 그리고 픽업트럭의 악세서리 제조회사인 WINBO 의 한국공식수입판매원입니다폭스바겐 티구안 올스페이스 사이드스텝 WINBO 정품 제품 안내WINBO 는 전세계의 많은 회사에 최고 품질의 제품을 OEM 공급합니다 TAC 는 미국내 최대 악세서리 회사로써 WINBO 로부터 최고 품질의 제품을 OEM 공급받고 있습니다제품 구입 및 설치 문의 윈보오토모티브코리아 0234540315WINBO KOREA 홈페이지 네이버 스마트스토어  ')

[('nanWINBO', 'Alpha'),
 ('는', 'Verb'),
 ('1994년', 'Number'),
 ('설립', 'Noun'),
 ('되어졌으며', 'Verb'),
 ('자동차', 'Noun'),
 ('악세', 'Adjective'),
 ('서리', 'Noun'),
 ('를', 'Josa'),
 ('생산', 'Noun'),
 ('하는', 'Verb'),
 ('세계', 'Noun'),
 ('최대', 'Noun'),
 ('의', 'Josa'),
 ('회사', 'Noun'),
 ('중', 'Noun'),
 ('하나', 'Noun'),
 ('이며', 'Josa'),
 ('특히', 'Adverb'),
 ('SUV', 'Alpha'),
 ('그리', 'Adverb'),
 ('고', 'Noun'),
 ('픽업', 'Noun'),
 ('트럭', 'Noun'),
 ('에', 'Josa'),
 ('많은', 'Adjective'),
 ('특허', 'Noun'),
 ('와', 'Josa'),
 ('경험', 'Noun'),
 ('을', 'Josa'),
 ('가지', 'Noun'),
 ('고', 'Josa'),
 ('있습니다', 'Adjective'),
 ('전세계', 'Noun'),
 ('에', 'Josa'),
 ('3000', 'Number'),
 ('명', 'Noun'),
 ('이상', 'Noun'),
 ('의', 'Josa'),
 ('직원', 'Noun'),
 ('이', 'Josa'),
 ('근무', 'Noun'),
 ('하고', 'Josa'),
 ('TOYOTA', 'Alpha'),
 ('HONDA', 'Alpha'),
 ('NISSAN', 'Alpha'),
 ('GM', 'Alpha'),
 ('FORD', 'Alpha'),
 ('JEEP', 'Alpha'),
 ('VOLKSWAGEN', 'Alpha'),
 ('등', 'Noun'),
 ('많은', 'Adjective'),
 ('자동차', 'Noun'),
 ('제조', 'Noun'),
 ('회사', 'Noun'),
 ('에', 'Josa'),
 ('OEM', 'Alpha'),
 ('제품', 'Noun'),
 ('을', 'Josa'),
 ('공급', 'Noun'),
 ('하고', 'Josa'),
 ('있습니다', 'Adjective'),
 ('윈', 'Noun'),
 ('보오', 'Noun'),
 ('토', 'Noun'),
 ('모티브', 'Noun'),
 ('코리아', 'Noun'),
 ('주는', 'Verb'),
 ('세계', 'Noun'),
 ('최대', 'Noun'),
 ('SUV', 'Alpha'),
 ('그리', 'Adverb'),
 ('고', 'Noun'),
 ('픽업', 'Noun'),
 ('트럭', 'Noun'),
 ('의', 'Josa'),
 ('악세', 'Adjective'),
 ('서리', 'Noun'),
 ('제조', 'Noun'),
 ('회사', 'Noun'),
 ('인', 'Josa'),
 ('WINBO', 'Alpha'),
 ('의', 'Noun'),
 ('한국', 'Noun'),
 ('공식', 'Noun'),
 ('수입', 'Noun'),
 ('판매원', 'Noun'),
 ('입니다', 'Adjective'),
 ('폭스바겐', 'Noun'),
 ('티', 'Noun'),
 ('구안', 'Noun'),
 ('올', 'Verb'),
 ('스페이스', 'Noun'),
 ('사이드', 'Noun'),
 ('스텝', 'Noun'),
 ('WINBO', 'Alpha'),
 ('정품', 'Noun'),
 ('제품', 'Noun'),
 ('안내', 'Noun'),
 ('WINBO', 'Alpha'),
 ('는', 'Verb'),
 ('전세계', 'Noun'),
 ('의', 'Josa'),
 ('많은', 'Adjective'),
 ('회사', 'Noun'),
 ('에', 'Josa'),
 ('최고', 'Noun'),
 ('품질', 'Noun'),
 ('의', 'Josa'),
 ('제품', 'Noun'),
 ('을', 'Josa'),
 ('OEM', 'Alpha'),
 ('공급', 'Noun'),
 ('합니다', 'Verb'),
 ('TAC', 'Alpha'),
 ('는', 'Verb'),
 ('미국', 'Noun'),
 ('내', 'Noun'),
 ('최대', 'Noun'),
 ('악세', 'Adjective'),
 ('서리', 'Noun'),
 ('회사', 'Noun'),
 ('로써', 'Noun'),
 ('WINBO', 'Alpha'),
 ('로부터', 'Noun'),
 ('최고', 'Noun'),
 ('품질', 'Noun'),
 ('의', 'Josa'),
 ('제품', 'Noun'),
 ('을', 'Josa'),
 ('OEM', 'Alpha'),
 ('공급', 'Noun'),
 ('받고', 'Verb'),
 ('있습니다', 'Adjective'),
 ('제품', 'Noun'),
 ('구입', 'Noun'),
 ('및', 'Noun'),
 ('설치', 'Noun'),
 ('문의', 'Noun'),
 ('윈', 'Noun'),
 ('보오', 'Noun'),
 ('토', 'Noun'),
 ('모티브', 'Noun'),
 ('코리아', 'Noun'),
 ('0234540315', 'Number'),
 ('WINBO', 'Alpha'),
 ('KOREA', 'Alpha'),
 ('홈페이지', 'Noun'),
 ('네이버', 'Noun'),
 ('스마트', 'Noun'),
 ('스토어', 'Noun')]

In [16]:
twitter.add_dictionary('픽업트럭','Noun')

In [17]:
twitter.pos('nanWINBO 는 1994년 설립되어졌으며 자동차 악세서리를 생산하는 세계 최대의 회사 중 하나이며 특히 SUV 그리고 픽업트럭에 많은 특허와 경험을 가지고 있습니다 전세계에 3000명 이상의 직원이 근무하고 TOYOTA HONDA NISSAN GM FORD JEEP VOLKSWAGEN 등 많은 자동차 제조회사에 OEM 제품을 공급하고 있습니다 윈보오토모티브코리아주는 세계 최대 SUV 그리고 픽업트럭의 악세서리 제조회사인 WINBO 의 한국공식수입판매원입니다폭스바겐 티구안 올스페이스 사이드스텝 WINBO 정품 제품 안내WINBO 는 전세계의 많은 회사에 최고 품질의 제품을 OEM 공급합니다 TAC 는 미국내 최대 악세서리 회사로써 WINBO 로부터 최고 품질의 제품을 OEM 공급받고 있습니다제품 구입 및 설치 문의 윈보오토모티브코리아 0234540315WINBO KOREA 홈페이지 네이버 스마트스토어  ')

[('nanWINBO', 'Alpha'),
 ('는', 'Verb'),
 ('1994년', 'Number'),
 ('설립', 'Noun'),
 ('되어졌으며', 'Verb'),
 ('자동차', 'Noun'),
 ('악세', 'Adjective'),
 ('서리', 'Noun'),
 ('를', 'Josa'),
 ('생산', 'Noun'),
 ('하는', 'Verb'),
 ('세계', 'Noun'),
 ('최대', 'Noun'),
 ('의', 'Josa'),
 ('회사', 'Noun'),
 ('중', 'Noun'),
 ('하나', 'Noun'),
 ('이며', 'Josa'),
 ('특히', 'Adverb'),
 ('SUV', 'Alpha'),
 ('그리', 'Adverb'),
 ('고', 'Noun'),
 ('픽업트럭', 'Noun'),
 ('에', 'Josa'),
 ('많은', 'Adjective'),
 ('특허', 'Noun'),
 ('와', 'Josa'),
 ('경험', 'Noun'),
 ('을', 'Josa'),
 ('가지', 'Noun'),
 ('고', 'Josa'),
 ('있습니다', 'Adjective'),
 ('전세계', 'Noun'),
 ('에', 'Josa'),
 ('3000', 'Number'),
 ('명', 'Noun'),
 ('이상', 'Noun'),
 ('의', 'Josa'),
 ('직원', 'Noun'),
 ('이', 'Josa'),
 ('근무', 'Noun'),
 ('하고', 'Josa'),
 ('TOYOTA', 'Alpha'),
 ('HONDA', 'Alpha'),
 ('NISSAN', 'Alpha'),
 ('GM', 'Alpha'),
 ('FORD', 'Alpha'),
 ('JEEP', 'Alpha'),
 ('VOLKSWAGEN', 'Alpha'),
 ('등', 'Noun'),
 ('많은', 'Adjective'),
 ('자동차', 'Noun'),
 ('제조', 'Noun'),
 ('회사', 'Noun'),
 ('에', 'Josa'),
 ('OEM', 'Alpha'),
 ('제품', 'Noun'),
 ('을', 'Josa'),
 ('공급', 'Noun'),
 ('하고', 'Josa'),
 ('있습니다', 'Adjective'),
 ('윈', 'Noun'),
 ('보오', 'Noun'),
 ('토', 'Noun'),
 ('모티브', 'Noun'),
 ('코리아', 'Noun'),
 ('주는', 'Verb'),
 ('세계', 'Noun'),
 ('최대', 'Noun'),
 ('SUV', 'Alpha'),
 ('그리', 'Adverb'),
 ('고', 'Noun'),
 ('픽업트럭', 'Noun'),
 ('의', 'Josa'),
 ('악세', 'Adjective'),
 ('서리', 'Noun'),
 ('제조', 'Noun'),
 ('회사', 'Noun'),
 ('인', 'Josa'),
 ('WINBO', 'Alpha'),
 ('의', 'Noun'),
 ('한국', 'Noun'),
 ('공식', 'Noun'),
 ('수입', 'Noun'),
 ('판매원', 'Noun'),
 ('입니다', 'Adjective'),
 ('폭스바겐', 'Noun'),
 ('티', 'Noun'),
 ('구안', 'Noun'),
 ('올', 'Verb'),
 ('스페이스', 'Noun'),
 ('사이드', 'Noun'),
 ('스텝', 'Noun'),
 ('WINBO', 'Alpha'),
 ('정품', 'Noun'),
 ('제품', 'Noun'),
 ('안내', 'Noun'),
 ('WINBO', 'Alpha'),
 ('는', 'Verb'),
 ('전세계', 'Noun'),
 ('의', 'Josa'),
 ('많은', 'Adjective'),
 ('회사', 'Noun'),
 ('에', 'Josa'),
 ('최고', 'Noun'),
 ('품질', 'Noun'),
 ('의', 'Josa'),
 ('제품', 'Noun'),
 ('을', 'Josa'),
 ('OEM', 'Alpha'),
 ('공급', 'Noun'),
 ('합니다', 'Verb'),
 ('TAC', 'Alpha'),
 ('는', 'Verb'),
 ('미국', 'Noun'),
 ('내', 'Noun'),
 ('최대', 'Noun'),
 ('악세', 'Adjective'),
 ('서리', 'Noun'),
 ('회사', 'Noun'),
 ('로써', 'Noun'),
 ('WINBO', 'Alpha'),
 ('로부터', 'Noun'),
 ('최고', 'Noun'),
 ('품질', 'Noun'),
 ('의', 'Josa'),
 ('제품', 'Noun'),
 ('을', 'Josa'),
 ('OEM', 'Alpha'),
 ('공급', 'Noun'),
 ('받고', 'Verb'),
 ('있습니다', 'Adjective'),
 ('제품', 'Noun'),
 ('구입', 'Noun'),
 ('및', 'Noun'),
 ('설치', 'Noun'),
 ('문의', 'Noun'),
 ('윈', 'Noun'),
 ('보오', 'Noun'),
 ('토', 'Noun'),
 ('모티브', 'Noun'),
 ('코리아', 'Noun'),
 ('0234540315', 'Number'),
 ('WINBO', 'Alpha'),
 ('KOREA', 'Alpha'),
 ('홈페이지', 'Noun'),
 ('네이버', 'Noun'),
 ('스마트', 'Noun'),
 ('스토어', 'Noun')]

## one more example

In [18]:
twitter.pos('TJCAR 티제이카 쉐보레 트레일블레이저 SOLAR GARD SATURN 3010 티제이카  ')

[('TJCAR', 'Alpha'),
 ('티', 'Noun'),
 ('제이', 'Noun'),
 ('카', 'Noun'),
 ('쉐보레', 'Noun'),
 ('트레일', 'Noun'),
 ('블', 'Noun'),
 ('레이저', 'Noun'),
 ('SOLAR', 'Alpha'),
 ('GARD', 'Alpha'),
 ('SATURN', 'Alpha'),
 ('3010', 'Number'),
 ('티', 'Noun'),
 ('제이', 'Noun'),
 ('카', 'Noun')]

In [19]:
twitter.add_dictionary('트레일블레이저','Noun')

In [20]:
twitter.pos('TJCAR 티제이카 쉐보레 트레일블레이저 SOLAR GARD SATURN 3010 티제이카  ')

[('TJCAR', 'Alpha'),
 ('티', 'Noun'),
 ('제이', 'Noun'),
 ('카', 'Noun'),
 ('쉐보레', 'Noun'),
 ('트레일블레이저', 'Noun'),
 ('SOLAR', 'Alpha'),
 ('GARD', 'Alpha'),
 ('SATURN', 'Alpha'),
 ('3010', 'Number'),
 ('티', 'Noun'),
 ('제이', 'Noun'),
 ('카', 'Noun')]

In [21]:
test= '안녕하십니까. my NAME IS MOOn'

In [22]:
from nltk.tokenize import sent_tokenize
import pandas as pd
import re

In [23]:
test.lower()

'안녕하십니까. my name is moon'