In [1]:
import pandas as pd

In [2]:
readtest1 = pd.read_csv("./clean_csv/clean_en_list.csv")
readtest1

                   value  count
0       ('BMW', 'Alpha')   2479
1       ('SUV', 'Alpha')   4046
2       ('The', 'Alpha')   1009
3       ('FTA', 'Alpha')    405
4        ('EV', 'Alpha')    503
..                   ...    ...
311     ('oid', 'Alpha')    174
312     ('aid', 'Alpha')    230
313  ('krhttp', 'Alpha')    999
314      ('FH', 'Alpha')    128
315   ('THAAD', 'Alpha')    130

[316 rows x 2 columns]

In [6]:
readtest1['value'].value_counts().sum()

316

In [3]:
readtest1.sort_values(by ='count', ascending=False)

                  value  count
35     ('the', 'Alpha')   4097
1      ('SUV', 'Alpha')   4046
82      ('to', 'Alpha')   2658
34      ('of', 'Alpha')   2598
0      ('BMW', 'Alpha')   2479
..                  ...    ...
191  ('right', 'Alpha')    102
179  ('Level', 'Alpha')    102
11      ('gm', 'Alpha')    101
111     ('RC', 'Alpha')    101
288    ('WWE', 'Alpha')    101

[316 rows x 2 columns]

In [6]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /home/lab14/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [7]:
from nltk.corpus import stopwords

stops = set(stopwords.words("english"))
#words = [w for w in words if not w in stops]

In [4]:
old_values = list(readtest1['value'])
len(old_values), type(old_values)

(316, list)

In [8]:
old_values[0]

"('BMW', 'Alpha')"

In [34]:
import re
patt = re.compile("'.*'\b")
re.findall(patt, old_values[0])

[]

In [10]:
old_values = [word for word, tag in old_values if not word in stops]
len(old_values), old_values[0]

ValueError: too many values to unpack (expected 2)

In [ ]:


df = pd.Dataframe(
    values = 
    )

In [17]:
students = [ ('Jack', 34, 'Sydney') ,
             ('Riti', 41, 'Delhi' ) ,
             ('Aadi', 16, 'New York') ,
             ('Riti', 22, 'Delhi' ) ,
             ('Riti', 35, 'Delhi' ) ,
             ('Riti', 40, 'Mumbai' )
              ]
# Create a DataFrame object
dfObj = pd.DataFrame(students, columns=['Name', 'Marks', 'City'], index=['b', 'a', 'f', 'e', 'd', 'c'])
dfObj

   Name  Marks      City
b  Jack     34    Sydney
a  Riti     41     Delhi
f  Aadi     16  New York
e  Riti     22     Delhi
d  Riti     35     Delhi
c  Riti     40    Mumbai

In [1]:
removed_ngram=[]
word1='w1'
word2='w2'

In [5]:
removed_ngram.append((word1+" "+word2))

In [6]:
removed_ngram

['w1 w2', 'w1 w2']

In [7]:
import pandas as pd
tryy = pd.Series(removed_ngram)
vc = tryy.value_counts()

In [8]:
newnew=[]
for bigram, cnt in vc.items():
    newnew.append((bigram, cnt))

In [9]:
newnew

[('w1 w2', 2)]